h3 {
  padding-top: 1%;
  font-family: monospace;
  font-weight: bolder;
  font-size: 400%;
}

.error-img {
  border-radius: 2%;
  margin-top: 0.5%;
  width: 900px;
  height: 600px;
  opacity: .9;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}